<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @exhibition do |f| %>
        <%= f.label "Exhibition title" %>
        <%= f.text_field :title, class: "form-control" %><br>
        <%= f.label "Artist" %>
        <%= f.text_field :artist, class: "form-control" %><br>
        <%= f.label "Gallery" %>
        <%= f.text_field :gallery, class: "form-control" %><br>
        <%= f.label "Location in London" %>
        <%= f.select :location, options_for_select([["Select One", ""], "Central London", "North London", "South London", "East London", "West London"]), class: "form-inline" %><br>
        <%= f.label "Exhibition end date" %>
        <%= f.date_select :date_end, :order => [:day, :month, :year], class: "form-inline" %><br>
        <%= f.label "Category" %>
        <%= f.select :category, options_for_select([["Select One", ""], "Contemporary", "Modern", "Classical"]), class: "form-inline" %><br>
        <%= f.label :picture %>
        <%= f.filestack_field :picture, 'Upload Your Exhibition photo', class: "form-group" %><br>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit class: "btn btn-primary" %><br>
    <% end %>
  </div>
</div>
