

<h1>Exhibitions</h1>

<div>
<%= form_tag(index_path, method: "get") do %>
    <%= label_tag "Gallery"%>
    <%= select_tag "exhibition[gallery]", options_for_select(@galleries, @selected_gal), include_blank: true %>
    <%= label_tag "Category"%>
    <%= select_tag "exhibition[category]", options_for_select(@categories, @selected_cat), include_blank: true %>
    <%= label_tag "Location"%>
    <%= select_tag "exhibition[location]", options_for_select(@locations, @selected_loc), include_blank: true %>

  <%= submit_tag("Filter") %>
<% end %>
</div>


<div class="box-container">
<% exhibs = most_likes(@exhibitions) %>
<% exhibs.each do |exhibition| %>
    <div class="box"><%= link_to(exhibition.title, exhibition_path(exhibition)) %> <%= exhibition.likes_count %>
    <a href="https://placeholder.com"><img scr="https://viaplaceholder.com/200"></a>
    </div>
<% end %>
</div>
