<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @user do |f| %>
        <%= f.label "First name" %>
        <%= f.text_field :first_name, class: "form-control" %>
        <%= f.label "Last name" %>
        <%= f.text_field :last_name, class: "form-control" %>
        <%= f.label "User name" %>
        <%= f.text_field :user_name, class: "form-control" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "Sign up", class: "btn btn-primary"%>
    <% end %>
  </div>
</div>
